<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
<script type="text/javascript" src="jquery-1.12.4.js"> </script>
<script type="text/javascript" src="bootstrap-3.3.6-dist/js/bootstrap.min.js"> </script>
<link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.min.css">


</head>
<style>


</style>
<script>




</script>
<body>
 <div class="wrapper">
  	<div>
  		<h3> Invalid credentials. Please login again <a href="/"> CLICK HERE </a></h3>
  	</div>
 </div>

</body>
</html>