
.rowTitle{
	    padding-top: 20px;
}

.rowTable{
	    padding-top: 40px;
}

.title{
	font-size:25px;
	text-align:center;
	font-weight: bold;
	
	
}

.response{
	color:red;
}

.testApp2{
	width: 126px;
}

table>tbody>tr>td:first-child{
	font-weight: bold;
    font-size: 17px;
}

table>tbody>tr>td:nth-child(2){
	text-align:center;
    font-size: 15px;
        color: blue;
}
.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}


.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
